@media all and (max-device-width: 480px) {
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		box-sizing: border-box;
	}
	/* HTML5 display-role reset for older browsers */
	
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol,
	ul {
		list-style: none;
	}
	blockquote,
	q {
		quotes: none;
	}
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	a {
		text-decoration: none;
	}
	/******** POLICE **********/
	
	@font-face {
		font-family: 'fontawesome';
		src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff') format('woff'), url('/fonts/fontawesome-webfont.ttf') format('truetype'), url('/fonts/fontawesome-webfont.svg') format('svg');
	}
	body {
		font-family: 'fontawesome', Fallback, sans-serif;
	}
	/******** HEADER ***********/
	
	header {
		display: flex;
		padding: 1em;
		position: relative;
		flex-direction: column;
		background-color: white;
		width: 100%;
		z-index: 2;
		height: auto;
		align-items: center;
		flex-direction: column;
	}
	header img {
		padding: 5%;
	}
	#navigation {
		display: flex;
		width: 100%;
		flex-flow: column wrap;
		padding: 0;
	}
	li {
		flex-wrap: wrap;
		flex-direction: column;
	}
	nav a {
		padding: 1em;
		color: Black;
		height: auto;
		width: auto;
	}
	nav a:hover {
		color: black;
		border-top: 1px solid #5CADD3;
		height: auto;
		width: auto;
		top: 0;
	}
	li {
		padding: 12px;
	}
	/************ IMAGE BANNIERE **********/
	
	#slideshow {
		display: none;
	}
	#services {
		text-align: center;
		margin-top: 9%;
		/**/
	}
	h1 {
		font-size: 2.5em;
		font-weight: bold;
		text-align: center;
		padding: 15px;
	}
	/****** PARAGRAPHE DES DIFFERENTES SECTIONS *******/
	
	#liste p {
		font-size: 0.3em;
		width: 100%;
	}
	#services p {
		font-size: 1em;
		padding: 40px;
		line-height: 17px;
	}
	#portfolio p {
		padding: 2%;
		text-align: center;
	}
	/********ICONES********/
	
	.fa.fa-line-chart,
	.fa.fa-cubes,
	.fa.fa-pie-chart {
		font-size: 0.5em;
		color: #5CADD3;
		border: 1.4px solid #b2b2b299;
		border-radius: 50%;
	}
	.fa {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		padding: 11px;
		border-radius: 50%;
	}
	/******BARRE SEPARATION SERVICES/CONTENU*******/
	
	.ligne {
		background-color: #d9d9d9;
		content: '';
		height: 1px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 140px;
	}
	.ligne .point {
		background-color: #5CADD3;
		border-radius: 60px;
		border: 3.5px solid white;
		content: '';
		height: 15px;
		left: 50%;
		position: absolute;
		transform: translate(-50%, 50%);
		width: 15px;
		top: -14px;
	}
	::before ligne {
		padding: 4%;
	}
	::after ligne {
		padding: 4%;
	}
	/********** IMAGE PC ******/
	
	.main img {
		display: none;
	}
	/********* LISTES SERVICES *******/
	
	#liste {
		display: flex;
		width: 100%;
		font-size: 3em;
		height: 100%;
		padding-top: 0px;
		flex-wrap: wrap;
	}
	h2 {
		font-size: 0.3em;
		font-weight: bold;
	}
	.listbox {
		height: 110px;
		margin: 5px;
		width: 80%;
		padding-left: 14px;
	}
	.iconbox {
		width: 15%;
	}
	.iconbox i::after {
		background-color: #5CADD3;
		border-radius: 37px;
		border: 5.6px solid white;
		content: '';
		height: 9px;
		position: absolute;
		width: 9px;
		margin-top: 5px;
	}
	/*********PORTFOLIO***********/
	
	#container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		flex-direction: row;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.image {
		width: 23%;
	}
	#portfolio {
		background-color: #f0f0f0;
	}
	#portfolio img {
		display: block;
		width: 23.2vw;
		padding-left: 15%;
		padding-bottom: 10%;
	}
	#boutons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.b1,
	.b2,
	.b3,
	.b4 {
		background-color: #c2c2c2;
		border: 1px solid: #c2c2c2;
		padding: 11px;
		width: 5%;
		text-align: center;
		font-size: 0.8em;
	}
	.b1 {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.b4 {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.b1:hover,
	.b2:hover,
	.b3:hover,
	.b4:hover {
		background: #5CADD3;
		position: relative;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		color: white;
		font-weight: 500;
	}
	.b1:hover:before,
	.b2:hover:before,
	.b3:hover:before,
	.b4:hover:before {
		content: "";
		position: absolute;
		right: 45%;
		top: 100%;
		border-top: 10px solid #5CADD3;
		border-right: 8px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 8px solid transparent;
	}
	/*********MAP**********/
	
	#contact {
		width: 100%;
		height: 500px;
	}
	#map {
		position: absolute;
	}
	#blue {
		background-color: #5CADD3;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 500px;
		opacity: 0.3;
	}
	/*********FORMULAIRE*******/
	
	.box {
		top: 50px;
		background-color: rgba(255, 255, 255, 0.7);
		z-index: 2;
		left: 900px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-top: 5px;
		position: relative;
		width: 324px;
		text-align: left;
		border: 2px solid rgba(255, 255, 255, 0.7);
		border-radius: 2px;
		z-index: 1;
	}
	.box p {
		overflow: hidden;
		width: 290px;
	}
	.box h3 {
		font-size: 1.2em;
		font-weight: bold;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.box span {
		font-weight: bold;
		font-size: 0.9em;
	}
	label {
		margin-top: 10px;
		display: block;
	}
	textarea {
		margin-top: 20px;
		width: 290px;
		height: 164px;
	}
	input[type="submit"] {
		background-color: #5CADD3;
		border-radius: 5px;
		color: white;
		font-weight: 500;
		margin-top: 10px;
	}
	nav li:last-of-type a {
		border-bottom: none;
	}
}