@media screen and (max-width: 480px) {
	header {
		position: relative;
		flex-direction: column;
	}
	header img {
		padding: 0;
	}
	#navigation {
		display: flex;
		width: 100%;
		flex-flow: column wrap;
		padding: 0;
	}
	#navigation li {
		padding: 12%;
		text-align: center;
	}
	nav {
		padding: 0;
	}
	/************ IMAGE BANNIERE **********/
	
	#slideshow {
		position: relative;
		height: 500px;
		overflow: hidden;
	}
	#slide {
		padding-top: 0;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		position: static;
	}
	#slide img {
		width: 100%;
	}
	li .fille {
		width: 100%;
	}
	li .garcon {
		width: 100%;
	}
	.fille {
		margin-right: -4%;
	}
	.garcon {
		display: none;
	}
	#slide img {
		width: 100%;
	}
	#slidetext h1 {
		position: absolute;
		text-transform: uppercase;
		color: white;
		letter-spacing: -0.05em;
		width: auto;
		height: auto;
		text-align: left;
		top: 34%;
		left: -1.5%;
		font-size: 1em;
	}
	#slidetext p {
		position: absolute;
		color: white;
		font-weight: bold;
		width: auto;
		height: auto;
		top: 53%;
		left: 2.5%;
		font-size: 0.5em;
	}
	.info {
		background-color: #5CADD3;
		border-radius: 2px;
		color: white;
		font-weight: 500;
		position: absolute;
		font-size: 0.6em;
		border-right: 10px solid #5CADD3;
		border-left: 10px solid #5CADD3;
		border-top: 5px solid #5CADD3;
		border-bottom: 5px solid #5CADD3;
		top: 60%;
		left: 2.5%;
	}
	#services {
		text-align: center;
		margin-top: 9%;
		/**/
	}
	h1 {
		font-size: 2.5em;
		font-weight: bold;
		text-align: center;
		padding: 15px;
	}
	/****** PARAGRAPHE DES DIFFERENTES SECTIONS *******/
	
	#section {
		display: flex;
	}
	#liste p {
		font-size: 0.3em;
		width: 100%;
	}
	#services p {
		font-size: 1em;
		padding: 40px;
		line-height: 17px;
	}
	#portfolio p {
		padding-top: 40px;
		text-align: center;
		padding-bottom: 40px;
	}
	/********** IMAGE PC ******/
	
	.main {
		padding-bottom: 0;
	}
	.main img {
		display: none;
	}
	/********* LISTES SERVICES *******/
	
	#liste {
		display: flex;
		width: 100%;
		font-size: 3em;
		height: 100%;
		padding-top: 0px;
		flex-wrap: wrap;
	}
	h2 {
		font-size: 0.3em;
		font-weight: bold;
	}
	.listbox {
		height: 110px;
		margin: 5px;
		width: 80%;
		padding-left: 14px;
	}
	.iconbox {
		width: 15%;
	}
	.iconbox i::after {
		background-color: #5CADD3;
		border-radius: 37px;
		border: 5.6px solid white;
		content: '';
		height: 9px;
		position: absolute;
		width: 9px;
		margin-top: 5px;
	}
	/*********PORTFOLIO***********/
	
	.ff-container label {
		width: 100%;
	}
	.ff-container label.ff-label-type-all {
		margin-left: 0;
		border-radius: 0;
	}
	.ff-container label.ff-label-type-3 {
		border-radius: 0;
	}
	label {
		margin-top: 0;
		display: block;
		margin: 1%;
	}
	.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
	.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
	.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
	.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3 {
		margin-left: 0;
	}
	.ff-items {
		width: 100%;
	}
	.ff-item-type-1 {
		width: 50%;
	}
	.ff-item-type-2 {
		width: 50%;
	}
	.ff-item-type-3 {
		width: 50%;
	}
	.fa-eye {
		margin-left: 67%;
		margin-top: -31%;
	}
	/*********MAP**********/
	
	#contact {
		width: 100%;
		height: 500px;
	}
	#map {
		position: absolute;
	}
	#blue {
		background-color: #5CADD3;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 500px;
		opacity: 0.3;
	}
	/*********FORMULAIRE*******/
	
	.box .ligne {
		margin-top: 93px;
		display: block;
	}
	.box {
		left: 0;
		background-color: #80808021;
		padding-left: 0;
		position: relative;
		width: 100%;
		text-align: center;
		z-index: 1;
		line-height: 1.5;
		margin-top: 0;
		padding-bottom: 29px;
		border: 0;
	}
	.box p {
		overflow: hidden;
		width: 100%;
		font-size: 1.5em;
	}
	.box h3 {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 3.5em;
	}
	input {
		font-size: 0.7em;
		border-radius: 3px;
		border: 1px solid white;
		text-align: center;
	}
	input.bouton_submit {
		border: 5px solid #5cadd3;
		border-radius: 15px;
	}
	textarea {
		width: 380px;
		border: 1px solid white;
		padding-bottom: 11px;
		border-radius: 5px;
	}
}

@media screen and (min-width: 480px) and (max-width: 1224px) {
	header img {
		width: 100%;
		padding: 10px;
	}
	nav {
		padding-right: 0;
	}
	#slideshow {
		height: 500px;
	}
	li .fille {
		width: 100%;
	}
	li .garcon {
		width: 100%;
	}
	#slide {
		width: 200%;
	}
	#slide img {
		padding: 0;
	}
	#slidetext {
		margin-bottom: 28px;
		width: 100%;
		position: absolute;
	}
	#slidetext h1 {
		font-size: 1.6em;
		top: 120px;
		left: 0px;
	}
	#slidetext p {
		top: 195px;
		left: 18px;
		font-size: 0.8em;
	}
	.info {
		font-size: 1em;
		border-right: 5px solid #5CADD3;
		border-left: 5px solid #5CADD3;
		border-top: 5px solid #5CADD3;
		border-bottom: 5px solid #5CADD3;
		top: 217px;
		left: 17px;
	}
	#services {
		padding-top: 91px;
	}
	#liste {
		width: 100%;
		padding-top: 0;
	}
	.iconbox {
		text-align: center;
	}
	.main img {
		display: none;
	}
	#liste p {
		width: 100%;
	}
	#portfolio {
		padding-top: 96px;
	}
	#portfolio h1 {
		padding-top: 2%;
	}
	#portfolio p {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.ff-container {
		padding-bottom: 50px;
	}
	label.ff-label-type-all {
		margin-left: 14%;
	}
	.ff-container label {
		width: 18%;
		font-size: 0.9em;
	}
	.box .ligne {
		margin-top: 93px;
	}
	.box {
		left: 0;
		background-color: #80808021;
		padding-left: 0;
		position: relative;
		width: 100%;
		text-align: center;
		z-index: 1;
		line-height: 1.5;
		margin-top: 0;
		padding-bottom: 29px;
		border: 0;
	}
	.box .ligne {
		margin-top: 93px;
		display: block;
	}
	input.bouton_submit {
		border: 5px solid #5cadd3;
		border-radius: 15px;
	}
	.box p {
		width: 100%;
		font-size: 1.5em;
	}
	.box h3 {
		font-size: 3.5em;
		font-weight: bold;
		text-transform: uppercase;
	}
	input {
		font-size: 0.7em;
		border-radius: 3px;
		border: 1px solid white;
		text-align: center;
	}
	textarea {
		width: 380px;
		border: 1px solid white;
		padding-bottom: 11px;
		border-radius: 5px;
	}
}