@import "compass/css3";
/*BARRE DE NAVIGATION*/
/* RESET CSS
http://meyerweb.com/eric/tools/css/reset/
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}
/******** POLICE **********/

@font-face {
	font-family: 'fontawesome';
	src: url('/fonts/fontawesome-webfont.woff') format('woff'), url('/fonts/fontawesome-webfont.ttf') format('ttf'), url('/fonts/fontawesome-webfont.eot') format('eot'), url('/fonts/fontawesome-webfont.svg') format('svg');
}

body {
	font-family: 'fontawesome', Fallback, sans-serif;
}
/******** HEADER ***********/

header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	align-items: center;
}

#navigation {
	list-style: none;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#navigation a {
	display: block;
	padding: 1em;
	color: Black;
}
/************ IMAGE BANNIERE **********/

.slide img {
	width: 100%;
}

#services {
	text-align: center;
	font-size: 2em;
	/*40px*/
	
	margin-top: 9%;
}
/********** MEDIA *********/

@media all and (max-width: 800px) {
	header {
		flex-direction: column;
	}
	header > a {
		text-align: center;
	}
	#navigation {
		justify-content: center;
	}
}

@media all and (max-width: 600px) {
	#navigation {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		padding: 0;
	}
	#navigation a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	#navigation li:last-of-type a {
		border-bottom: none;
	}
}