body {
  padding-top: 10px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

[class*="col-"], footer {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

.slide {
  margin : 10px;
  transform: scale(0.6);
}
