#banniere {
    width: 100%;
    height: 54px;
    background-color: red;
    position: relative;
}

#part1{
    overflow:hidden;
    padding-bottom:50px;
}

#diapo {
    width: 100%;
    height: 500px;
}

#slider {
    width: 200%;
    height: 100%;
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
    width: 100%;
    height: 500px;
    position: absolute;
}

.slide {
    width: 90%;
    height:100%;
    border: 1px solid black;
}

header img {
    width: 100px;
    padding-left: 21px;
    position: absolute;
}

#map {
    height: 100%;
    width: 50%;
    position: absolute;
    overflow: hidden;
}

#infos {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}