html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    height: 100%;
}

p {
    margin-top: 0;
}

#flexbox {
    width: 100%;
    height: 100%;
}

.parallax1 {
    background-image: url('../lyon.jpg');
    height: 100%; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#banniere {
    width: 100%;
    height: 65px;
    background-color: #f44336;
    position: relative;
}

#part1{
    overflow:hidden;
    padding-bottom:50px;
}

#diapo {
    width: 80%;
    height: 90%;
    padding-left: 10%;
    position: absolute;
}

#slider {
    width: 200%;
    height: 100%;
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
    width: 100%;
    height: 500px;
    position: absolute;
}

.slide {
    margin-top: 60px;
    width: 75%;
    height: 75%;
    margin-left: 9%;
    border: 5px solid white;
    border-radius: 5px;
}

#boutonDroite {
    background-color: #f1f1f1;
    color: #393939;
    position: absolute;
    margin-left: 80%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#boutonGauche {
    background-color: #f1f1f1;
    color: #393939;
    position: absolute;
    left: 10%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header img {
    width: 110px;
    padding-left: 21px;
    position: absolute;
}

#reserver {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 0%;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#infos {
    width: 15%;
    height: 47%;
    position: absolute;
    margin-left: 80%;
    background-color: white;
    margin-top: 4%;
    text-align:center;
}

h4 {
    text-align: center;
    font-size: 1.5em;
    background-color: #d8d8d8;
    margin-top: 0;
    padding: 8px;
    border-radius: 5px;
    color: black;
}

span {
    font-weight: bold;
    font-size: 1.3em;
}

#nameStation, #stationAdress, #bikeStands{
    padding-bottom: 10px;
}


#boutton {
    background-color:#f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#boutton:hover {
    background-color: #e23e31;
    color: white;
}

#signature canvas {
    background-color: #ddd;
}

#decompte {
    font-size: 2em;
    text-align: center;
    padding: 1em;
    background-color: white;
    vertical-align: middle;
    padding-top: 60px;
    opacity: 0.9;
    color: black;
    width: 50%;
    margin-left: 23%;
}

