section {
    width: 100%;
    height: 100%;
}
.parallax {
    background-image: url('../lyon.jpg');
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banniere {
    width: 100%;
    height: 54px;
    background-color: #f44336;
    position: relative;
}

#part1{
    overflow:hidden;
    padding-bottom:50px;
}

#diapo {
    width: 80%;
    height: 90%;
    padding-left: 10%;
    position: absolute;
}

#slider {
    width: 200%;
    height: 100%;
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
    width: 100%;
    height: 500px;
    position: absolute;
}

.slide {
    padding-top: 68px;
    width: 100%;
    height: 100%;
}

header img {
    width: 100px;
    padding-left: 21px;
    position: absolute;
}

#reserver {
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 0%;
}

#map {
    height: 90%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border-radius: 23px;
}

#infos {
    width: 15%;
    height: 43%;
    position: absolute;
    margin-left: 80%;
    background-color: white;
    margin-top: 4%;
}

h4 {
    text-align: center;
    font-size: 1.5em;
    background-color: #d8d8d8;
    margin-top: 0;
    padding: 8px;
    border-radius: 5px;
    color: black;
}

#boutton {
    background-color:#f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#boutton:hover {
    background-color: #e23e31;
    color: white;
}

#signature canvas {
    background-color: #ddd;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}